---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import Stats from "../components/home/Stats.astro";
import Iniciativas from "../components/home/Iniciativas.astro";
import Faq from "../components/home/Faq.astro";
import Footer from "../components/common/Footer.astro";
---

<Layout
  title="Monitoria de TI - CEUB"
  description="Portal da Monitoria de TI do UniCEUB. Mais que oficinas, incentivamos ideias e projetos."
>
  <main id="main-content">
    <Hero />
    <Stats />
    <Iniciativas />
    <Faq />
    <Footer />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    overflow-x: hidden;
  }
</style>
